/* 页面配置 */
.container {
  width: 100%;
  height: 100%;
}
body, html {
  width: 80%;
  height: 88%;
  margin: 25px auto;
  overflow: hidden; 
  background-color: #6D7993;
}
.row {
  height: 100%;
}
/* 导航栏 + 目录栏 */
.aside {
  width: 25%;
  height: 100%;
  
}
/* 左侧导航栏 */
.aside1 {
  background-color: #474d57;
  height: 100%;
  width: 30%;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  /*box-shadow: inset -15px 0 20px -15px #77AEF4;*/
}
.aside1 > .nav > li > a {
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 0px;
  color: #fff;
  font-size: 12pt;
  padding: 10px 10px;

}

.aside1> .nav > li > a:hover {
  color:#fff;
  background-color: #474d57;
}

.aside1 > .nav-pills>li.active>a ,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus {
  color: #fff;
  /*background-color: #fafaf6;*/
  /*background-image: url(/public/img/body_bg.jpg);*/
  background-color: #303030;
}

.avatar {
  width: 60px;
  height: 60px;
  margin: 15px auto 5px;
  border-radius: 50%;
  box-shadow: 0 0 0px 3px white, 0 0 3px 3px #eee;
  background-repeat: no-repeat;
  background-size: 60px 60px;
  overflow: hidden;
  display: block; }
  #avatar:hover {
    -webkit-animation: spin .35s linear infinite;
    -moz-animation: spin .35s linear infinite;
    -ms-animation: spin .35s linear infinite;
    -o-animation: spin .35s linear infinite;
    animation: spin .35s linear infinite; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    #avatar {
      -webkit-background-size: 100px 100px;
      -moz-background-size: 100px 100px;
      background-size: 100px 100px; } 
}
.aside1_bottom {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.aside1_bottom > .table {
  margin-bottom: 0px;
}
/* 中部目录栏 */
.aside2 {

  background-color: #f7f7f7;
  height: 100%;
  width: 70%;
  border-right: 4px solid #c7c7c7;
  overflow-y: auto;
  font-color: #fff;
  margin-top: 0px;
  padding-top: 120px;
}

/* 右侧内容栏 */
.aside3 {
  height: 100%;
  overflow-y: auto;
  background-color: #fff;
  overflow-x: hidden;

}
.aside3-title {
  background-color: #f5f5f5;
  
  /* border-bottom: 1px solid #f5f5f5; */
  padding-left: 35px;
  padding-right: 35px;
  text-align: center;
  color: #283444;
}
.aside3-content {
/*  padding-left: 30px;
  padding-right: 30px;
*/ 
  padding: 0 10% 0 10%;
  color: #283444;
  line-height: 1.6;
}
#content {
  font-size: 11pt;
}
#content h2, h3 {
  line-height: 2;
}
blockquote p {
  font-size: 11pt;
}
/* 其他配置 */
.center {
  text-align: center;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  color: #fff;
  background-color: #474d57;
}
/* 显示评论按钮 */
.show-commend {
  width: 100%;
  margin-bottom: 40px;
}